body {
    color: var(--color-dark);
    background-color: var(--color-light);
}

span {
    color: var(--color-secondary);
    font-weight: 600;
}

.bg-secondary {
    span {
        color: var(--color-primary);
    }
    
}