@page "/categories"
@inject HttpClient Http

@* <div class="menu-bar">
    <div class="menu-icon" @onclick="GoBack">
        <i class="fa-sharp fa-solid fa-circle-left"></i>
    </div>
    <div class="menu-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div> *@

<h4 class="category-list-title">Categories</h4>

<div class="category-list">
    @if (categories == null)
    {
        <p>Loading...</p>
    }
    else if (!categories.Any())
    {
        <p>No categories available.</p>
    }
    else
    {
        @foreach (var category in categories)
        {
            <div class="category-list-container">
            <button class="category-item btn-category-item">
                <div class="category-left">
                    @((MarkupString)category.Icon)
                    <span class="category-name"><h5>@category.Name</h5></span>
                </div>
                <div class="category-right">
                    <span class="product-count">@category.ProductCount Product</span>
                </div>
            </button>
            </div>



        }
    }
</div>

@code {

    public class CategoryDto
    {
        public string Id { get; set; }
        public string? Name { get; set; }
        public string? Icon { get; set; }
        public int ProductCount { get; set; }
    }
    private List<CategoryDto> categories;

    protected override async Task OnInitializedAsync()
    {
        
        var url = "api/categories?code=Z8zajKTyzUaOQJgo14hXIx7FCvZaGsOVoosaojHLToj0AzFuMCSoFg%3D%3D";
        categories = await Http.GetFromJsonAsync<List<CategoryDto>>(url);
    }


    private void GoBack()
    {
       
    }

}

