@page "/login"
@using RikaWebApp.Components.Account.Shared

<section class="login-section">
    <div class="container">
        <div class="login-text">
            <img src="/images/logos/logoblack.svg" alt="">
            <h5>Welcome!</h5>
            <p>Please login or sign up to continue using our app.</p>
        </div>
        <div class="login-form">
            <form>
                <div class="form-row">
                    <h5>Email</h5>
                    <input type="text" id="input1" placeholder="Email">
                </div>
                <div class="form-row">
                    <h5>Password</h5>
                    <input type="password" id="input2" placeholder="Password">
                </div>
                <a href="#" class="btn-dark">Login</a>
            </form>
            <p class="or-text">or</p>

            <div class="social-login">
                <ExternalLoginPicker />
            </div>

        </div>
    </div>
</section>

