@page "/login"
@using RikaWebApp.Models
@rendermode InteractiveServer
@code {
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    public SignInModel SigninForm { get; set; } = new();

    private async Task OnValidSubmit(EditContext editContext)
    {
    }
}

<section class="login-section">
    <div class="container">
        <div class="login-text">
            <img src="/images/logos/logoblack.svg" alt="">
            <h5>Welcome!</h5>
            <p>Please login or sign up to continue using our app.</p>
        </div>
        <div class="login-form">
            <EditForm method="post" FormName="signipform" Model="SigninForm" OnValidSubmit="OnValidSubmit" asp-route-returnUrl="@ReturnUrl" novalidate>
                
                <div class="form-row">
                    <h5>Email</h5>
                    <InputText id="input1" @bind-Value="SigninForm.Email" />
                    <ValidationMessage For="() => SigninForm.Email" />
                </div>
                <div class="form-row">
                    <h5>Password</h5>
                    <InputText id="input2" @bind-Value="SigninForm.Password" type="password" />
                    <ValidationMessage For="() => SigninForm.Password" />
                </div>
                <button type="submit" class="btn-dark">Login</button>
            </EditForm>
            
            <p class="or-text">or</p>
            <div class="social-login">
                <a href="#" class="btn-primary facebook-btn">
                    <i class="fa-brands fa-facebook"></i> Continue with Facebook
                </a>
                <a href="#" class="btn-primary google-btn">
                    <i class="fa-brands fa-google"></i> Continue with Google
                </a>
                <a href="#" class="btn-primary apple-btn">
                    <i class="fab fa-apple"></i> Continue with Apple
                </a>
            </div>
        </div>
    </div>
</section>
