@page "/mine"
@using Microsoft.AspNetCore.Authorization
@using RikaWebApp.Models
@using RikaWebApp.Services

@inject UserService UserService
@inject FileService FileService

@attribute [Authorize]

@code {
    private ApplicationUser user = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private UserProfileImage UserProfileImage { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUserAsync();


        UserProfileImage = await FileService.FindProfileImageAsync(user.ProfileImageId);

    }
}

<PageTitle>Mine</PageTitle>
<section class="mine-section">
    <div class="container">
        <div class="section-header">
            <button class="btn-menu">
                <i class="fa-regular fa-bars-staggered"></i>
            </button>

            <div class="search-bar">
                <div class="search-field">
                    <i class="fa-light fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search...">
                </div>
                <button class="btn-menu">
                    <i class="fa-duotone fa-solid fa-sliders-simple"></i>
                </button>
            </div>

            @if (UserProfileImage == null)
            {
                <a href="/profile" class="avatar">
                    <i class="fa-solid fa-user"></i>
                </a>
                
            }
            else
            {
                <a href="/profile">
                    <img src="@UserProfileImage.ProfileImage" alt="@user.Name" />
                </a>
            }


        </div>

        <h2>Welcome</h2>
        <h5>Our Rika Fashion App</h5>
        <div class="search-bar">
            <div class="search-field">
                <i class="fa-light fa-magnifying-glass"></i>
                <input type="text" placeholder="Search...">
            </div>
            <button class="btn-menu">
                <i class="fa-duotone fa-solid fa-sliders-simple"></i>
            </button>
        </div>

        <div class="discount-section">
            <div class="discount">
                <h3>50% Off</h3>
                <p>On everything today</p>
                <p class="small-text"> with code : rikafashion2021</p>
                <button class="btn-dark">Get Now</button>
            </div>
            <div class="discount">
                <h3>70% Off</h3>
                <p>On everything today</p>
                <p class="small-text"> with code : rikafashion2021</p>
                <button class="btn-dark">Get Now</button>
            </div>
        </div>

        <div class="new-arrivals">
            <div class="section-title">
                <h3>New Arrivals</h3>
                <button>View All</button>
            </div>
            <div class="product-list">
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">The Marc Jacobs</div>
                        <div class="product-category">Traveler Tote</div>
                        <div class="product-price">$195.00</div>
                    </div>
                </a>
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">Axel Arigato</div>
                        <div class="product-category">Clean 90 Triple Sneakers</div>
                        <div class="product-price">$245.00</div>
                    </div>
                </a>
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">Axel Arigato</div>
                        <div class="product-category">Clean 90 Triple Sneakers</div>
                        <div class="product-price">$245.00</div>
                    </div>
                </a>
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">Axel Arigato</div>
                        <div class="product-category">Clean 90 Triple Sneakers</div>
                        <div class="product-price">$245.00</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="categories">
            <h3>Categories</h3>
            <div class="category-list">
                <button class="active">Dresses</button>
                <button>Jackets</button>
                <button>Jeans</button>
                <button>Shoes</button>
                <button>T-shirts</button>
                <button>Headware</button>
                <button>Hoodies</button>
                <button>Accessories</button>
            </div>
            <div class="section-title">
                <h3>Top Dresses</h3>
                <button>View All</button>
            </div>
            <div class="product-list">
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">The Marc Jacobs</div>
                        <div class="product-category">Traveler Tote</div>
                        <div class="product-price">$195.00</div>
                    </div>
                </a>
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">Axel Arigato</div>
                        <div class="product-category">Clean 90 Triple Sneakers</div>
                        <div class="product-price">$245.00</div>
                    </div>
                </a>
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">Axel Arigato</div>
                        <div class="product-category">Clean 90 Triple Sneakers</div>
                        <div class="product-price">$245.00</div>
                    </div>
                </a>
                <a href="/products" class="product">
                    <div class="img-box">
                        <img src="/images/products/produxtExampleImg.svg" alt="">
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="info">
                        <div class="product-title">Axel Arigato</div>
                        <div class="product-category">Clean 90 Triple Sneakers</div>
                        <div class="product-price">$245.00</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="popular-products">
            <div class="section-title">
                <h3>Popular</h3>
                <button>View All</button>
            </div>

            <div class="popular-item-list">
                <a href="/" class="product">
                    <div class="img-info-text">
                        <img src="/images/products/popularProductImage.svg" alt="Product">
                        <div class="info-text">
                            <div class="title">Gia Borghini</div>
                            <div class="description">RHW Rosie 1 Sandals</div>
                            <div class="rating"><i class="fa-solid fa-star"></i>(4,5)</div>
                        </div>
                    </div>
                    <p class="price">$740.00</p>
                </a>
            </div>
        </div>
    </div>
</section>