@page "/onboarding1"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@code {

}

<section class="onboarding-section">
        <div class="container">
            <div class="onboarding-preview">

            </div>

            <div class="onboarding-description">
                <h3>20% Discount New Arrival Product</h3>
                <p>Publish up your selfies to make yourself more beautiful with this app.</p>
            </div>

            <div class="onboarding-navigation">
                <div class="dots">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            <NavLink href="/onboarding2" class="btn-menu">
                <i class="fa-solid fa-right-long"></i>
            </NavLink>
            </div> 
       </div>
</section>