@page "/profile"

@code {

}

<section class="profile-section">
    <div class="container">

        <div class="profile-header">
            <div class="avatar"></div>
            <div class="profile-info">
                <h3 class="name">Hasan Mahmud</h3>
                <p class="email">rikafashionshop@gmail.com</p>
            </div>
        </div>

        <div class="profile-menu first">
            <a href="#" class="menu-item">
                <i class="fas fa-user icon"></i>
                <span class="text">Personal Details</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-shopping-bag icon"></i>
                <span class="text">My Order</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-heart icon"></i>
                <span class="text">My Favourites</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-truck icon"></i>
                <span class="text">Shipping Address</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-credit-card icon"></i>
                <span class="text">My Card</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-cog icon"></i>
                <span class="text">Settings</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>

        <div class="profile-menu second">
            <a href="#" class="menu-item">
                <i class="fas fa-question-circle icon"></i>
                <span class="text">FAQs</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-shield-alt icon"></i>
                <span class="text">Privacy Policy</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-users icon"></i>
                <span class="text">Community</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>

    </div>
</section>