@using RikaWebApp.Components.Sections
@layout RikaWebApp.Components.Layout.MainLayout
@page "/shoppingcart" 


<section class="shoppingcart-section">
    <div class="container">

        <TopbarCart/>

        <h1>My Cart</h1>
        <div class="cart-item">
            <img src="#" alt="">
            <div class="item-details">
                <h2>Roller Rabbit</h2>
                <p>Vado Odelle Dress</p>
                <span class="item-price">$189.00</span>
            </div>
            <button class="delete-item">
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <div class="quantity-controls">
                <button class="quantity-btn">-</button>
                <span class="quantity-btn">1</span>
                <button class="quantity-btn">+</button>
            </div>
        </div>

        <div class="cart-item">
            <img src="#" alt="">
            <div class="item-details">
                <h2>Axel Arigato</h2>
                <p>Clean 90 Triple Sneakers</p>
                <span class="item-price">$240.00</span>
            </div>
            <button class="delete-item">
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <div class="quantity-controls">
                <button class="quantity-btn">-</button>
                <span class="quantity-btn">1</span>
                <button class="quantity-btn">+</button>
            </div>
        </div>

        <div class="cart-item">
            <img src="#" alt="">
            <div class="item-details">
                <h2>Herschel Supply Co.</h2>
                <p>Daypack Backpack</p>
                <span class="item-price">$40.00</span>
            </div>
            <button class="delete-item">
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <div class="quantity-controls">
                <button class="quantity-btn">-</button>
                <span class="quantity-btn">1</span>
                <button class="quantity-btn">+</button>
            </div>
        </div>

        <PromoCode/>

        <div class="cart-summary">
            <p>Total (3 items):</p>
            <p>$500</p>
        </div>


        <a href="/payment" class="btn-dark"> Proceed to Checkout
            <div class="arrow-right"><i class="fa-solid fa-right-long"></i></div>
        </a>
    </div>
</section>

@code {

}
