@page "/signup"
@using RikaWebApp.Models
@rendermode InteractiveServer
@code{
    [SupplyParameterFromForm]
    public SignUpModel SignupForm { get; set; } = new();

    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private async Task OnValidSubmit(EditContext editContext)
    {

    }
}

<section class="signup-page">
    <div class="container">
        <div class="signup-logo">
            <img src="/images/logos/logoblack.svg" alt="">
        </div>
        <div class="signup-page-info">
            <h4>Sign Up</h4>
            <p>Create an new account</p>
        </div>
        <div class="signup-form">
            
             <EditForm method="post" FormName="signupform" Model="SignupForm" OnValidSubmit="OnValidSubmit" asp-route-returnUrl="@ReturnUrl" novalidate>
                <DataAnnotationsValidator />
               
                 <div class="input-group">
                    <label>User Name</label>
                    <InputText @bind-Value="SignupForm.Name" />
                    <ValidationMessage For="() => SignupForm.Name" />
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <InputText @bind-Value="SignupForm.Email" />
                    <ValidationMessage For="() => SignupForm.Email" />

                </div>
                <div class="input-group">
                    <label>Password</label>
                    <InputText @bind-Value="SignupForm.Password" type="password" />
                    <ValidationMessage For="() => SignupForm.Password" />
                </div>
                <div class="input-group">
                    <label>Confirm Password</label>
                    <InputText @bind-Value="SignupForm.ConfirmPassword" type="password" />
                    <ValidationMessage For="() => SignupForm.ConfirmPassword" />
                </div>
                <div class="input-group checkbox-group">
                    <label>By creating an account you have to agree with our terms & conditions.</label>
                    <InputCheckbox @bind-Value="SignupForm.TermsAndCondition" />
                    
                </div>
                <button type="submit" class="btn-dark btn">Sign Up</button>
            </EditForm>
           
            
        </div>
       
        
    </div>
</section>
