@page "/signup"

<section class="signup-page">
    <div class="container">
        <div class="signup-logo">
            <img src="./images/logo-dark.svg" alt="">
        </div>
        <div class="signup-page-info">
            <h4>Sign Up</h4>
            <p>Create an new account</p>
        </div>
        <div class="signup-form">
            <form action="">
                <div class="input-group">
                    <label for="username">User Name</label>
                    <input type="text" placeholder="User name">
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password">
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" placeholder="Confirm password">
                </div>
                <div class="input-group checkbox-group">
                    <input type="checkbox">
                    <label for="terms">By creating an account you have to agree with our terms & conditions.</label>
                </div>
            </form>
        </div>
        <a href="" class="btn-dark btn">Sign Up</a>
    </div>
</section>
