@page "/"

<PageTitle>Starting Page</PageTitle>

<section class="starting-page">
    <div class="container">

        <div class="logo">
            <img src="/images/logos/logo.svg" alt="Logotype">
        </div>

        <div class="buttons">
            <a class="btn-light btn-filling" href="/Login">Log in</a>
            <a class="btn-primary btn-filling" href="">Sign up</a>
        </div>
    </div>
</section>
