@page "/"

@inject SignInManager<ApplicationUser> SignInManager

<PageTitle>Starting Page</PageTitle>

<section class="starting-page">
    <div class="container">

        <div class="logo">
            <img src="/images/logos/logo.svg" alt="Logotype">
        </div>

        <div class="buttons">
            <a class="btn-light btn-filling" href="/Login">Log in</a>
            <a class="btn-primary btn-filling" href="/signup">Sign up</a>
        </div>
    </div>
</section>


@code {


    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var userClaims = (await AuthenticationState).User;

        if (userClaims.Claims != null)
        {
            var result = SignInManager.IsSignedIn(userClaims);

            if (result)
            {
                RedirectManager.RedirectTo("/mine");
            }
        }

    }
}