@page "/successful"

@code {

}

<section id="success-page">
    <div class="container bg-light">
        <div class="content">
            <i class="fa-regular fa-circle-check"></i>
            <h3>Successful!</h3>
            <p>You have successfully registered in our app and start working in it.</p>
        </div>
        <div class="button-bottom">
            <a href="#" class="btn-dark">Start Shopping</a>
        </div>

    </div>
</section>