@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7em;
  margin-left: 0.3em;
  margin-top: -0.9em;
}

.btn-dark, .btn-primary, .btn-transparent, .btn-accent, .btn-gray, .btn-light {
  border-radius: 28px;
  text-align: center;
  padding: 18px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  font-size: 16px;
  background-color: transparent;
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: 0.25s;
}
.btn-dark:hover, .btn-primary:hover, .btn-transparent:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  background-color: transparent;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 45px;
  width: 45px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: var(--color-dark);
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px gray;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: var(--color-light);
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-dark);
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 5px;
  background-color: var(--color-dark);
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-gender {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid var(--color-dark);
  background-color: var(--color-light);
  color: var(--color-dark);
}
.btn-gender span {
  color: var(--color-light);
}
.btn-gender input[type=checkbox] {
  display: none;
}
.btn-gender.active {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-dark);
}
.btn-gender:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.btn-gender .checkbox-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-gender .checkbox-content .custom-checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-light);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
}
.btn-gender .checkbox-content .checked {
  background-color: var(--color-light);
  border-color: var(--color-dark);
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 0.8125rem;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  font-weight: 800;
}

.inputgroup {
  position: relative;
  display: grid;
}
@media (min-width: 1400px) {
  .inputgroup {
    display: flex;
    flex-grow: 1;
  }
}
.inputgroup select, .inputgroup input {
  display: grid;
  padding: 1rem;
  padding-left: 40px;
  border-radius: 0.1rem !important;
  border: 0.063rem solid var(--color-gray-dark);
}
.inputgroup select::placeholder, .inputgroup input::placeholder {
  opacity: 0.6;
}
@media (min-width: 1400px) {
  .inputgroup select, .inputgroup input {
    flex-grow: 1;
  }
}
.inputgroup select:focus, .inputgroup input:focus {
  outline: none;
  border: 0.063rem solid var(--color-secondary);
}
.inputgroup select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.inputgroup i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--color-gray);
}

form {
  width: 100%;
  display: grid;
  gap: 1rem;
}
form .input-group {
  display: grid;
}
form label {
  margin-bottom: 0.188rem;
  font-weight: 700;
}
form input {
  padding: 1rem;
  border-radius: 0.1rem !important;
  border: 0.063rem solid var(--color-gray-dark);
}
form input::placeholder {
  opacity: 0.4;
}
form input:focus {
  outline: none;
  border: 0.063rem solid var(--color-gray-dark);
}
form textarea {
  padding: 1rem;
  border-radius: 0.1rem !important;
  border: 0.063rem solid var(--color-gray-dark);
  resize: none;
}
form textarea::placeholder {
  opacity: 0.4;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .footer {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1400px) {
  .footer {
    width: 28%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.footer .footer-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}
.footer .footer-icon .icon-container {
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 6px;
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  color: black;
}
.footer .footer-icon .icon-container i {
  margin-right: 4px;
}
.footer .footer-icon .icon-container span {
  font-size: 14px;
  color: inherit;
  background-color: inherit;
  padding-right: 12px;
  border-radius: 20px;
}
.footer .footer-icon .icon-container.active {
  padding: 0;
  background-color: #f0f0f0;
}
.footer .footer-icon .icon-container.active i {
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 20px;
}
.footer .footer-icon .icon-container .logout-link {
  color: black;
}

.starting-page {
  background-color: var(--color-gray-dark);
}
.starting-page .container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
@media (min-width: 768px) {
  .starting-page .container {
    grid-template-rows: auto auto;
  }
}
.starting-page .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.starting-page .container .buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.starting-page .container .buttons .btn-primary {
  color: white;
  border: 1px solid white;
}
@media (min-width: 768px) {
  .starting-page .container .buttons .btn-filling {
    align-self: center;
    padding-right: 150px;
    padding-left: 150px;
  }
}

#success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
#success-page .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  justify-content: space-between;
}
#success-page .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 30px 30px 30px;
}
#success-page .container .content i {
  color: #64BA67;
  font-size: 40px;
  margin-bottom: 20px;
}
#success-page .container .content h3 {
  color: var(--color-dark);
}
#success-page .button-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  #success-page .button-bottom {
    display: grid;
    width: auto;
  }
}
#success-page .button-bottom .btn-dark {
  width: 100%;
}

@media (min-width: 1281px) {
  .login-section .container {
    width: 30%;
  }
}
.login-section .container .alert-danger {
  color: red;
}
.login-section .container .login-text img {
  display: block;
  margin: 100px auto 70px auto;
}
.login-section .container .login-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-section .container .login-form .form-row {
  width: 100%;
  margin-bottom: 15px;
}
.login-section .container .login-form .form-row input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}
.login-section .container .login-form .or-text {
  text-align: center;
  font-size: 14px;
  margin: 15px 0;
  color: #666;
}
.login-section .container .login-form .social-login {
  width: 100%;
}
.login-section .container .login-form .social-login .btn-primary {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}
.login-section .container .login-form .social-login .btn-primary i {
  margin-right: 8px;
}
.login-section .container .login-form .social-login .btn-primary.facebook-btn {
  color: #666666;
  border-color: #ccc;
  background-color: transparent;
}
.login-section .container .login-form .social-login .btn-primary.facebook-btn:hover {
  background-color: #3b5998;
  color: #fff;
}
.login-section .container .login-form .social-login .btn-primary.google-btn {
  color: #666666;
  border-color: #ccc;
  background-color: transparent;
}
.login-section .container .login-form .social-login .btn-primary.google-btn:hover {
  background-color: #EA4335;
  color: #fff;
}
.login-section .container .login-form .social-login .btn-primary.apple-btn {
  color: #666666;
  border-color: #ccc;
  background-color: transparent;
}
.login-section .container .login-form .social-login .btn-primary.apple-btn:hover {
  background-color: #333;
  color: #fff;
}

.profile-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .profile-section .container {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .profile-section .container {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .profile-section .container {
    width: 30%;
  }
}
.profile-section .container .profile-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.profile-section .container .profile-header .avatar {
  width: 70px;
  height: 70px;
  background-color: var(--color-gray);
  border-radius: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-section .container .profile-header .avatar img {
  width: 70px;
  height: 70px;
}
.profile-section .container .profile-header .avatar i {
  font-size: 30px;
  margin: 0;
}
.profile-section .container .profile-header .profile-info {
  margin-top: 10px;
}
.profile-section .container .profile-header .profile-info .name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: var(--color-dark);
}
.profile-section .container .profile-header .profile-info .email {
  font-size: 14px;
  margin: 0;
  color: var(--color-dark);
}
.profile-section .container .profile-menu {
  border: 1px solid #DDDDDD;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  margin-top: 20px;
  padding: 15px;
}
.profile-section .container .profile-menu .menu-item {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: var(--color-dark);
  transition: background 0.2s, color 0.2s;
}
.profile-section .container .profile-menu .menu-item:hover {
  background-color: #f5f5f5;
  border-radius: 25px;
  color: #000;
}
.profile-section .container .profile-menu .menu-item .icon {
  padding: 22px;
  font-size: 18px;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  background-color: var(--color-gray);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-section .container .profile-menu .menu-item .text {
  flex-grow: 1;
  font-size: 15px;
  color: var(--color-dark);
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #ff0000;
}

.invalid {
  outline: 1px solid #ff0000;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

@media (min-width: 1281px) {
  .signup-page .container {
    width: 30%;
  }
}
.signup-page .container .signup-logo {
  display: flex;
  justify-content: center;
}
.signup-page .container .signup-logo img {
  padding: 3rem;
}
.signup-page .container .signup-page-info {
  padding-bottom: 2rem;
}
.signup-page .container .signup-page-info h4 {
  color: var(--color-dark);
}
.signup-page .container .signup-form .input-group label {
  color: var(--color-dark);
  padding-bottom: 0px;
}
.signup-page .container .signup-form .input-group input {
  border: none;
  border-bottom: 1px solid var(--color-gray);
  padding: 6px;
}
.signup-page .container .signup-form .checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 1rem;
}
.signup-page .container .signup-form .checkbox-group label {
  color: var(--color-primary-dark);
  font-weight: 100;
}

.btn-green {
  border-radius: 28px;
  text-align: center;
  padding: 18px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  font-size: 16px;
  background-color: transparent;
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: 0.25s;
  color: var(--color-light);
  background-color: #64BA67;
}
.btn-green:hover {
  transition: 0.25s;
  text-decoration: none;
}
.btn-green:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.settings-page {
  max-width: 380px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.settings-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.settings-page .container input {
  border: none;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  padding: 8px 0;
  padding-left: 15px;
}
.settings-page .container input::placeholder {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
}
.settings-page .container #Name, .settings-page .container #Age, .settings-page .container #Email {
  color: var(--color-dark);
  font-weight: 600;
  font-size: 14px;
  padding-left: 15px;
}
.settings-page .container .image-upload {
  position: relative;
  margin-top: 3rem;
}
.settings-page .container .image-upload img {
  width: 80px;
  height: 80px;
}
.settings-page .container .image-upload label {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
  left: 60px;
  width: 25px;
  height: 25px;
  background-color: var(--color-light);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
.settings-page .container .image-upload label:hover {
  cursor: pointer;
}
.settings-page .container .image-upload label i {
  font-size: 12px;
  color: var(--color-dark);
  line-height: 25px;
  text-align: center;
  display: inline-block;
}
.settings-page .container .upload {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  color: var(--color-dark);
  font-weight: 600;
}
.settings-page .container .form {
  width: 100%;
}
.settings-page .container .form .inputgroup {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
}
.settings-page .container .form .inputgroup Label {
  color: var(--color-default);
  font-weight: 700;
  font-size: 14px;
  width: 50%;
}
.settings-page .container .form .inputgroup .checkbox-container {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-gray);
  padding: 8px 16px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: var(--color-gray);
}
.settings-page .container .form .inputgroup .checkbox-container input[type=checkbox] {
  color: var(--color-gray);
}
.settings-page .container .form .inputgroup .checkbox-container:hover, .settings-page .container .form .inputgroup .checkbox-container.active {
  background-color: var(--color-dark);
  border-color: var(--color-light);
}
.settings-page .container .form .inputgroup .checkbox-container input[type=checkbox] {
  display: none;
}
.settings-page .container .form .inputgroup .checkbox-container .custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color 0.3s;
}
.settings-page .container .form .inputgroup .checkbox-container input[type=checkbox]:checked + .custom-checkbox::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}
.settings-page .container .form .inputgroup .checkbox-container label {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.settings-page .container .form .inputgroup input {
  padding: 0;
}
.settings-page .container .form .inputgroup .external {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  padding-left: 15px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 14px;
}
.settings-page .container .form .external-warning {
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  color: #FFAB07;
  font-size: 10px;
  margin-top: -20px;
  margin-bottom: 0;
}
.settings-page .container .settings {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.settings-page .container .settings .heading {
  font-weight: bold;
  color: var(--color-dark);
  text-align: center;
}
.settings-page .container .settings .settings-group {
  display: flex;
  flex-direction: column;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-top: 15px;
}
.settings-page .container .settings .settings-group .language, .settings-page .container .settings .settings-group .notification, .settings-page .container .settings .settings-group .drak-moode, .settings-page .container .settings .settings-group .help-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
  text-decoration: none;
  color: var(--color-dark);
}
.settings-page .container .settings .settings-group .language:hover .fa-angle-right, .settings-page .container .settings .settings-group .notification:hover .fa-angle-right, .settings-page .container .settings .settings-group .drak-moode:hover .fa-angle-right, .settings-page .container .settings .settings-group .help-center:hover .fa-angle-right {
  animation: tilt-shaking 0.38s infinite;
}
.settings-page .container .settings .settings-group .language .fa-globe, .settings-page .container .settings .settings-group .language .fa-bell, .settings-page .container .settings .settings-group .language .fa-moon, .settings-page .container .settings .settings-group .language .fa-question, .settings-page .container .settings .settings-group .notification .fa-globe, .settings-page .container .settings .settings-group .notification .fa-bell, .settings-page .container .settings .settings-group .notification .fa-moon, .settings-page .container .settings .settings-group .notification .fa-question, .settings-page .container .settings .settings-group .drak-moode .fa-globe, .settings-page .container .settings .settings-group .drak-moode .fa-bell, .settings-page .container .settings .settings-group .drak-moode .fa-moon, .settings-page .container .settings .settings-group .drak-moode .fa-question, .settings-page .container .settings .settings-group .help-center .fa-globe, .settings-page .container .settings .settings-group .help-center .fa-bell, .settings-page .container .settings .settings-group .help-center .fa-moon, .settings-page .container .settings .settings-group .help-center .fa-question {
  font-size: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
  border-radius: 10px;
  padding: 20px;
}
.settings-page .container .settings .settings-group .language p, .settings-page .container .settings .settings-group .notification p, .settings-page .container .settings .settings-group .drak-moode p, .settings-page .container .settings .settings-group .help-center p {
  flex: 1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
}
.settings-page .container .settings .settings-group .language span, .settings-page .container .settings .settings-group .notification span, .settings-page .container .settings .settings-group .drak-moode span, .settings-page .container .settings .settings-group .help-center span {
  color: var(--color-primary);
  font-size: 14px;
  margin-right: 1rem;
  font-weight: 600;
}
.settings-page .container .settings .settings-group .language label, .settings-page .container .settings .settings-group .notification label, .settings-page .container .settings .settings-group .drak-moode label, .settings-page .container .settings .settings-group .help-center label {
  font-size: 12px;
}
.settings-page .container .settings .btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.settings-page .container .save-changes {
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px;
}

.product-list-section {
  padding: 10px;
}
.product-list-section .container {
  position: relative;
  min-height: 100vh;
}
.product-list-section .container .category-title {
  font-size: 1.2rem;
  padding: 10px 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .product-list-section .container .category-title {
    font-size: 2.5rem;
    padding: 20px 0;
  }
}
@media (min-width: 1400px) {
  .product-list-section .container .category-title {
    font-size: 3rem;
    padding: 30px 0;
  }
}
.product-list-section .container .error-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-dark);
}
.product-list-section .container .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .product-list-section .container .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px) {
  .product-list-section .container .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.product-list-section .container .product-list .product-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-dark);
}
.product-list-section .container .product-list .product-card:hover, .product-list-section .container .product-list .product-card:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.product-list-section .container .product-list .product-card .product-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  object-fit: cover;
}
.product-list-section .container .product-list .product-card .btn-round {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color-dark);
  border-radius: 50%;
  padding: 5px 6px;
  font-size: 1.2rem;
  color: var(--color-light);
  border: none;
  line-height: 10px;
}
.product-list-section .container .product-list .product-card .btn-round i {
  font-size: 0.8rem;
}
.product-list-section .container .product-list .product-card .product-card-info {
  text-align: center;
  padding: 10px;
}
.product-list-section .container .product-list .product-card .product-card-info .product-name,
.product-list-section .container .product-list .product-card .product-card-info .short-desc {
  margin: 0;
}
.product-list-section .container .product-list .product-card .product-card-info .short-desc {
  font-size: 0.7rem;
  color: var(--color-primary-dark);
  padding-bottom: 5px;
}
.product-list-section .container .product-list .product-card .product-card-info .product-prices {
  display: flex;
  padding: 0 10px;
}
.product-list-section .container .product-list .product-card .product-card-info .product-prices h5 {
  margin: 0;
}
.product-list-section .container .product-list .product-card .product-card-info .product-prices.single-price {
  justify-content: center;
}
.product-list-section .container .product-list .product-card .product-card-info .product-prices.multiple-prices {
  justify-content: space-between;
}
.product-list-section .container .product-list .product-card .product-card-info .product-prices .discount {
  color: var(--color-red);
}
.product-list-section .container .product-list .product-card .product-card-info .product-prices .original-price {
  text-decoration: line-through;
  color: var(--color-gray-dark);
}

.mine-section {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.mine-section .container {
  width: 100%;
}
@media (min-width: 768px) {
  .mine-section .container {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .mine-section .container {
    width: 70%;
  }
}
.mine-section .container .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mine-section .container .section-header .avatar {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  background-color: var(--color-dark);
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  color: var(--color-light);
}
.mine-section .container .section-header .avatar i {
  font-size: 26px;
}
.mine-section .container .section-header .avatar:hover {
  background-color: var(--color-gray);
  color: #333;
}
.mine-section .container .section-header img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
.mine-section .container .section-header .search-bar {
  display: none;
}
@media (min-width: 992px) {
  .mine-section .container .section-header .search-bar {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
.mine-section .container .section-header .search-bar .search-field {
  width: 100%;
}
.mine-section .container h2 {
  padding-top: 20px;
  color: var(--color-dark);
}
@media (min-width: 992px) {
  .mine-section .container h2 {
    text-align: center;
  }
}
.mine-section .container h5 {
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .mine-section .container h5 {
    text-align: center;
  }
}
.mine-section .container .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .mine-section .container .search-bar {
    display: none;
  }
}
.mine-section .container .search-bar .search-field {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-radius: 20px;
  width: 70%;
  background-color: #F3F4F5;
}
@media (min-width: 992px) {
  .mine-section .container .search-bar .search-field {
    width: 50%;
  }
}
.mine-section .container .search-bar .search-field i {
  font-size: 16px;
  margin-right: 8px;
  font-weight: 600;
}
.mine-section .container .search-bar .search-field input {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  width: 100%;
}
.mine-section .container .search-bar .search-field input::placeholder {
  color: #aaa;
}
.mine-section .container .discount-section {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 992px) {
  .mine-section .container .discount-section {
    display: none;
  }
}
.mine-section .container .discount-section .discount {
  background-color: rgba(128, 128, 128, 0.24);
  border-radius: 30px;
  padding: 20px 20px;
}
.mine-section .container .discount-section .discount h3 {
  color: var(--color-dark);
  margin: 0;
}
.mine-section .container .discount-section .discount p {
  color: var(--color-dark);
  font-size: 18px;
}
.mine-section .container .discount-section .discount .small-text {
  font-size: 12px;
}
.mine-section .container .discount-section .discount .btn-dark {
  padding: 10px 50px;
}
@media (max-width: 576px) {
  .mine-section .container .discount-section .discount .btn-dark {
    padding: 5px 30px;
  }
}
.mine-section .container .product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 768px) {
  .mine-section .container .product-list a.product:nth-of-type(n+3) {
    display: none;
  }
}
@media (min-width: 992px) {
  .mine-section .container .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.mine-section .container .product-list .product {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: ease-in-out 0.1s box-shadow;
  text-decoration: none;
}
.mine-section .container .product-list .product:hover {
  background-color: rgb(253, 253, 253);
  border-radius: 16px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(197, 196, 196, 0.1294117647);
}
.mine-section .container .product-list .product .img-box {
  position: relative;
  overflow: hidden;
}
.mine-section .container .product-list .product .img-box img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mine-section .container .product-list .product .img-box button {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mine-section .container .product-list .product .img-box button i {
  color: white;
  padding: 7px;
  border-radius: 30px;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
}
.mine-section .container .product-list .product .img-box button i:hover {
  background-color: rgb(255, 17, 0);
}
.mine-section .container .product-list .product .info {
  text-align: center;
  text-decoration: none;
  width: 90%;
}
.mine-section .container .product-list .product .info .product-title {
  color: var(--color-dark);
  font-weight: 600;
}
.mine-section .container .product-list .product .info .product-category {
  color: grey;
}
.mine-section .container .product-list .product .info .product-price {
  color: var(--color-dark);
  font-weight: 600;
}
.mine-section .container .section-title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.mine-section .container .section-title h3 {
  color: var(--color-dark);
  font-weight: 600;
}
.mine-section .container .section-title button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.mine-section .container .section-title button:hover {
  text-decoration: underline;
}
.mine-section .container .new-arrivals {
  margin-top: 40px;
}
.mine-section .container .categories {
  margin-top: 50px;
}
.mine-section .container .categories h3 {
  color: var(--color-dark);
  font-weight: 600;
}
.mine-section .container .categories .category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.mine-section .container .categories .category-list button {
  background-color: transparent;
  border: 2px solid rgba(128, 128, 128, 0.363);
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 30px;
  transition: ease-in-out 0.2s background-color;
  cursor: pointer;
  color: var(--color-dark);
}
.mine-section .container .categories .category-list button:hover {
  background-color: var(--color-dark);
  color: white;
}
.mine-section .container .categories .category-list .active {
  background-color: var(--color-dark);
  color: white;
}
.mine-section .container .categories .section-title {
  margin-top: 30px;
}
.mine-section .container .popular-products {
  margin-bottom: 61px;
}
.mine-section .container .popular-products .popular-item-list .product {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 253, 253);
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s background-color;
  text-decoration: none;
}
.mine-section .container .popular-products .popular-item-list .product:hover {
  background-color: rgb(175, 173, 173);
}
.mine-section .container .popular-products .popular-item-list .product:hover .description {
  color: grey;
}
.mine-section .container .popular-products .popular-item-list .product .img-info-text {
  display: flex;
  gap: 15px;
}
.mine-section .container .popular-products .popular-item-list .product .img-info-text .info-text .title {
  font-weight: 600;
  color: black;
}
.mine-section .container .popular-products .popular-item-list .product .img-info-text .info-text .description {
  color: grey;
}
.mine-section .container .popular-products .popular-item-list .product .img-info-text .info-text .rating {
  font-weight: 600;
  color: var(--color-dark);
}
.mine-section .container .popular-products .popular-item-list .product .img-info-text .info-text .rating i {
  color: rgba(255, 251, 0, 0.438);
}
.mine-section .container .popular-products .popular-item-list .product .price {
  font-weight: 600;
  color: var(--color-dark);
  font-size: 20px;
  margin-right: 20px;
}
@media (max-width: 576px) {
  .mine-section .container .popular-products .popular-item-list .product .price {
    font-size: 14px;
  }
}

.shoppingcart-section {
  padding-top: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
}
.shoppingcart-section .container {
  padding: 2rem;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1400px) {
  .shoppingcart-section .container {
    width: 60%;
  }
}
.shoppingcart-section .container h1 {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
}
.shoppingcart-section .container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(85, 85, 85, 0.1);
}
.shoppingcart-section .container .cart-item img {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 8px;
}
.shoppingcart-section .container .cart-item .item-details {
  flex: 1;
  margin-left: 10px;
}
.shoppingcart-section .container .cart-item .item-details h2 {
  font-size: 1em;
  margin-bottom: 5px;
}
.shoppingcart-section .container .cart-item .item-details p {
  font-size: 0.9em;
  color: #888;
}
.shoppingcart-section .container .cart-item .item-details .item-price {
  color: black;
  font-size: medium;
  font-weight: 100;
}
.shoppingcart-section .container .cart-item .delete-item {
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.shoppingcart-section .container .cart-item .quantity-controls {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 1px;
  border-radius: 20px;
  background-color: #e0e0e0;
  font-size: 20px;
}
.shoppingcart-section .container .cart-item .quantity-controls .quantity-btn {
  font-size: 16px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: black;
}
.shoppingcart-section .container .cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(25, 24, 24);
  margin: 10px 0;
  font-size: 250px;
}
.shoppingcart-section .container .cart-summary p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
}
.shoppingcart-section .container a {
  text-decoration: none;
}

.topbar-cart {
  padding-bottom: 2rem;
}
.topbar-cart .topbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
.topbar-cart .topbar-container .nav-btn {
  border: none;
  background: none;
}
.topbar-cart .topbar-container .cart-btn {
  border: none;
  background: none;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}
.topbar-cart .topbar-container .cart-btn .itemsin-cart {
  position: absolute;
  padding: 3px 7px;
  border-radius: 50px;
  background-color: black;
  top: -6px;
  right: -5px;
}
.topbar-cart .topbar-container .cart-btn .itemsin-cart p {
  font-size: 7px;
  color: white;
  padding: 0;
  margin: 0;
}

.promocode-section {
  padding: 2rem;
}
.promocode-section .content form {
  position: relative;
}
.promocode-section .content form .input-group input {
  font-style: normal;
  background-color: #F3F3F3;
  border-radius: 10px !important;
}
.promocode-section .content form .input-group .validation-errors li {
  display: block;
}
.promocode-section .content form .input-group .validation-message {
  display: none;
}
.promocode-section .content form .btn-dark {
  position: absolute;
  padding: 5px 10px;
  right: 10px;
  bottom: 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .onboarding-section .container {
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .onboarding-section .container {
    width: 70%;
    align-items: center;
    text-align: center;
  }
}
.onboarding-section .container .onboarding-preview {
  width: 100%;
  height: 540px;
  background-color: var(--color-gray);
  border-radius: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
@media (min-width: 1280px) {
  .onboarding-section .container .onboarding-preview {
    height: 650px;
  }
}
.onboarding-section .container .onboarding-description {
  margin-bottom: 30px;
}
.onboarding-section .container .onboarding-description h3 {
  color: black;
}
.onboarding-section .container .onboarding-navigation {
  display: flex;
  align-items: center;
}
.onboarding-section .container .onboarding-navigation .dots {
  display: flex;
  gap: 8px;
  margin-right: auto;
}
.onboarding-section .container .onboarding-navigation .dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s;
}
.onboarding-section .container .onboarding-navigation .dots .dot.active {
  background-color: var(--color-dark);
}
.onboarding-section .container .onboarding-navigation .btn-menu {
  margin-left: auto;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.slideshow-container .image-slider {
  position: relative;
  width: 100%;
  height: 550px;
}
.slideshow-container .image-slider .slide {
  display: none;
  width: 100%;
  height: 100%;
}
.slideshow-container .image-slider .slide.active-slide {
  display: block;
}
.slideshow-container .image-slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slideshow-container .dot-container {
  text-align: center;
  margin-top: 10px;
}
.slideshow-container .dot-container .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.slideshow-container .dot-container .dot.active {
  background-color: #717171;
}
.slideshow-container .prev-arrow, .slideshow-container .next-arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background for visibility */
  padding: 10px;
  cursor: pointer;
  z-index: 999;
  transform: translateY(-50%);
}
.slideshow-container .prev-arrow:hover, .slideshow-container .next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darken on hover */
}
.slideshow-container .prev-arrow {
  left: 10px;
}
.slideshow-container .next-arrow {
  right: 10px;
}

.category-list-container {
  padding: 0 1.25rem;
}
@media (min-width: 1025px) {
  .category-list-container {
    padding: 0 2rem;
  }
}

.category-list-title {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  color: var(--color-dark);
  margin-left: 24px;
  margin-bottom: 17px;
  margin-top: 20px;
  text-align: left;
}
@media (min-width: 1025px) {
  .category-list-title {
    text-align: center;
    font-size: 2em;
    margin: 10px;
  }
}

.category-item {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 50px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .category-item {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media (min-width: 1025px) {
  .category-item {
    max-width: 750px;
    padding: 1.25em 1.5em;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.category-item .category-left {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
}
.category-item .category-left i {
  font-size: 1.8rem;
  padding: 5px;
}
@media (max-width: 210px) {
  .category-item .category-left i {
    display: none;
  }
}
@media (max-width: 599px) {
  .category-item .category-left i {
    font-size: 1rem;
    padding: 5px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .category-item .category-left i {
    font-size: 1.5rem;
    padding: 5px;
  }
}
@media (min-width: 1025px) {
  .category-item .category-left i {
    font-size: 1.8rem;
    padding: 5px;
  }
}
.category-item .category-left .category-name h5 {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  color: var(--color-light);
  font-size: 1rem;
  margin: 0;
}
@media (max-width: 599px) {
  .category-item .category-left .category-name h5 {
    font-size: 16px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .category-item .category-left .category-name h5 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .category-item .category-left .category-name h5 {
    font-size: 1.5rem;
  }
}
.category-item .category-right .product-count {
  font-family: "Mont", sans-serif;
  font-weight: 500;
  color: var(--color-light);
  text-align: right;
  font-size: 0.875rem;
  text-decoration: none;
}
@media (max-width: 599px) {
  .category-item .category-right .product-count {
    font-size: 11px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .category-item .category-right .product-count {
    font-size: 1rem;
  }
}
@media (min-width: 1025px) {
  .category-item .category-right .product-count {
    font-size: 1.25rem;
  }
}
.category-item:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  text-decoration: none;
}

@media (max-width: 599px) {
  .category-item {
    padding: 0.5em 0.75em;
    border-radius: 30px;
  }
}
.reviews {
  display: flex;
}
.reviews .reviewCount {
  width: fit-content;
  margin-left: 0.5rem;
  font-weight: 600;
}
