.mine-section {
    padding-top: 40px;
    display: flex;
    justify-content: center;


    .container {
        max-width: 560px;
        width: 100%;


        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .avatar {
                display: flex;
                align-items: center;
                padding: 12px 14px;
                background-color: #f0f0f0;
                border-radius: 25px;
                transition: background-color 0.3s, color 0.3s;
                color: black;

                i {
                    font-size: 26px;
                }

                &:hover {
                    background-color: #e0e0e0;
                    color: #333;
                }
            }
        }

        h1 {
            padding-top: 40px;
            font-weight: 600;
        }

        h5 {
            padding-bottom: 10px;
        }


        .search-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search-field {
                display: flex;
                align-items: center;
                padding: 10px 14px;
                border-radius: 20px;
                width: 100%;
                max-width: 300px;
                background-color: #F3F4F5;

                i {
                    font-size: 16px;
                    margin-right: 8px;
                    font-weight: 600;
                }

                input {
                    border: none;
                    outline: none;
                    background: none;
                    font-size: 16px;
                    width: 100%;

                    &::placeholder {
                        color: #aaa;
                    }
                }
            }
        }

        .discount-section {
            margin-top: 40px;
            display: flex;
            gap: 20px;
            flex-direction: row;
            justify-content: space-around;

            .discount {
                background-color: rgba(128, 128, 128, 0.24);
                border-radius: 30px;
                padding: 20px 20px;

                h3 {
                    color: black;
                    margin: 0;
                }

                p {
                    color: black;
                    font-size: 18px;
                }

                .small-text {
                    font-size: 12px;
                }

                .btn-dark {
                    padding: 10px 50px;

                    @media (max-width: 576px) {
                        padding: 5px 30px;
                    }
                }
            }
        }

        .product-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 20px;



            .product {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                transition: ease-in-out 0.1s box-shadow;
                text-decoration: none;

                &:hover {
                    background-color: rgb(253, 253, 253);
                    border-radius: 16px;
                    box-shadow: 0 8px 8px rgba(0.2, 0.2, 0.2, 0.2);
                    background-color: #c5c4c421;
                }


                .img-box {
                    position: relative;
                    overflow: hidden;



                    img {
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    button {
                        position: absolute;
                        right: 25px;
                        top: 25px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;


                        i {
                            color: white;
                            padding: 7px;
                            border-radius: 30px;
                            background-color: black;
                            transition: background-color 0.2s ease-in-out;

                            &:hover {
                                background-color: rgb(255, 17, 0);
                            }
                        }
                    }
                }

                .info {
                    text-align: center;
                    text-decoration: none;
                    width: 90%;


                    .product-title {
                        color: black;
                        font-weight: 600;
                    }

                    .product-category {
                        color: grey;
                    }

                    .product-price {
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }

        .section-title {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            h3 {
                color: black;
                font-weight: 600;
            }

            button {
                background-color: transparent;
                border: 0;
                cursor: pointer;
                color: rgb(128, 128, 128);
                font-size: 16px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .new-arrivals {
            margin-top: 40px;
        }

        .categories {
            margin-top: 50px;

            h3 {
                color: black;
                font-weight: 600;
            }

            .category-list {
                display: flex;
                justify-content: space-between;


                button {
                    background-color: transparent;
                    border: 2px solid rgba(128, 128, 128, 0.363);
                    border-radius: 20px;
                    font-size: 20px;
                    padding: 5px 30px;
                    transition: ease-in-out 0.2s background-color;

                    @media (max-width: 576px) {
                        padding: 5px;
                    }

                    cursor: pointer;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .active {
                    background-color: black;
                    color: white;
                }
            }

            .section-title {
                margin-top: 30px;
            }
        }

        .popular-products {
            margin-bottom: 60px;

            .popular-item-list {

                .product {
                    display: flex;
                    padding: 10px;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(253, 253, 253);
                    border-radius: 8px;
                    box-shadow: 0 8px 8px rgba(0.2, 0.2, 0.2, 0.2);
                    transition: ease-in-out 0.2s background-color;
                    text-decoration: none;

                    &:hover {
                        background-color: rgb(175, 173, 173);


                        .description {
                            color: grey;
                        }
                    }

                    .img-info-text {
                        display: flex;
                        gap: 15px;

                        img {
                        }

                        .info-text {

                            .title {
                                font-weight: 600;
                                color: black;
                            }

                            .description {
                                color: grey;
                            }

                            .rating {
                                font-weight: 600;
                                color: black;

                                i {
                                    color: rgba(255, 251, 0, 0.438);
                                }
                            }
                        }
                    }

                    .price {
                        font-weight: 600;
                        color: black;
                        font-size: 20px;
                        margin-right: 20px;

                        @media (max-width: 576px) {
                            font-size: 14px
                        }
                    }
                }
            }
        }
    }
}
