.onboarding-section {

    .container {
        
        @media (min-width: 768px) {
            width: 70%;
        }

        @media (min-width: 1280px) {
            width: 70%;
            align-items: center;
            text-align: center;
        }

        .onboarding-preview {
            width: 100%;
            height: 540px;
            background-color: var(--color-gray);
            border-radius: 15px;
            margin-bottom: 30px;
            margin-top: 15px;
            
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

            @media (min-width: 1280px) {
                height: 650px;

            }
        }

        .onboarding-description {
            margin-bottom: 30px;

            h3 {
                color: black;
            }
        }

        .onboarding-navigation {
            display: flex;
            align-items: center;

            .dots {
                display: flex;
                gap: 8px;
                margin-right: auto; 

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #ccc; 
                    transition: background-color 0.3s;

                    &.active {
                        background-color: var(--color-dark); 
                    }
                }
            }

            .btn-menu {
                margin-left: auto; 
            }
        }
    }
}


