.top-menu {
    padding: 30px 10px 0;

    .container {
        display: flex;
        justify-content: space-between;

        .back-button {
            color: var(--color-light);
            background-color: var(--color-dark);
            border-radius: 50%;
            padding: 4px 9px;
        }

        .search-bar {
            i {
                padding-top: 10px;
                font-size: 1.2rem;
            }
        }
    }
}

.product-list-section {
    padding: 10px;

    .container {
        position: relative;
        min-height: 100vh;

        .category-title {
            font-size: 1.2rem;
            padding: 10px 0;
            font-weight: 700;

            @include tablet {
                font-size: 2.5rem;
                padding: 20px 0;
            }

            @include desktop {
                font-size: 3rem;
                padding: 30px 0;
            }
        }

        .error-message {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 1.5rem;
        }

        .product-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 100%;

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            @include desktop {
                grid-template-columns: repeat(4, 1fr);
            }

            .product-card {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                transition: box-shadow 0.5s;
                cursor: pointer;

                &:hover,
                &:active {
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                }

                .product-image {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    border-radius: 15px;
                    object-fit: cover;
                }

                .btn-round {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: var(--color-dark);
                    border-radius: 50%;
                    padding: 5px 7px;
                    font-size: 1.2rem;
                    color: var(--color-light);
                    border: none;
                    line-height: 10px;

                    i {
                        font-size: 0.8rem;
                    }
                }

                .product-card-info {
                    text-align: center;
                    padding: 10px;

                    .product-name,
                    .short-desc {
                        margin: 0;
                    }

                    .short-desc {
                        font-size: 0.7rem;
                        color: var(--color-primary-dark);
                    }

                    .product-prices {
                        display: flex;
                        padding: 0 10px;

                        h5 {
                            margin: 0;
                        }

                        &.single-price {
                            justify-content: center;
                        }

                        &.multiple-prices {
                            justify-content: space-between;
                        }

                        .discount {
                            color: var(--color-red);
                        }

                        .original-price {
                            text-decoration: line-through;
                            color: var(--color-gray-dark);
                        }
                    }
                }
            }
        }
    }
}

.mobile-nav-menu {
    .container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--color-light);
        box-shadow: 0px -1px 4px rgba(19, 16, 34, 0.1), 0px -2px 6px rgba(19, 16, 34, 0.15);
        border-radius: 30px 30px 0 0;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        @include tablet {
            padding: 20px 50px;
        }

        @include desktop {
            display: none;
        }

        .btn-menu {
            color: var(--color-dark);
            font-size: 1.2rem;

            @include tablet {
                font-size: 1.5rem;
            }
        }
    }
}

