.btn-green {
    @include btn;
    color: var(--color-light);
    background-color: #64BA67;

    &:hover {
        color: var(--color-light);
        background-color: var(--color-dark);
    }
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.settings-page {
    max-width: 390px;
    margin: 0 auto;
    padding-bottom: 50px;


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        input {
            border: none;
            border-bottom: 1px solid #DDDDDD;
            width: 100%;
            padding: 8px 0;
            padding-left: 15px;

            &::placeholder {
                color: var(--color-dark);
                font-weight: 700;
                font-size: 14px;
                padding-left: 15px;
            }
        }

        #Name, #Age, #Email {
            color: var(--color-dark);
            font-weight: 600;
            font-size: 14px;
            padding-left: 15px;
        }



        .image-upload {
            position: relative;
            margin-top: 3rem;

            img {
                width: 80px;
                height: 80px;
            }

            button {
                position: absolute;
                top: 60px;
                left: 60px;
                width: 25px;
                height: 25px;
                background-color: var(--color-light);
                border: none;
                border-radius: 5px;
                box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
                cursor: pointer;

                i {
                    font-size: 10px;
                    color: var(--color-dark);
                    line-height: 25px;
                    text-align: center;
                    display: inline-block;
                }
            }
        }

        .upload {
            display: flex;
            margin-bottom: 30px;
            margin-top: 20px;
            color: var(--color-dark);
            font-weight: 600;
        }

        .form {
            width: 100%;

            .inputgroup {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                justify-content: space-between;

                Label {
                    color: #AAAAAA;
                    font-weight: 700;
                    font-size: 14px;
                    width: 50%;
                }

                .btn-gender {
                    width: 100%;

                }

                input {
                    padding: 0;
                }

                .external {
                    @include text;
                    border: none;
                    border-bottom: 1px solid #DDDDDD;
                    width: 100%;
                    padding-left: 15px;
                    color: var(--color-dark);
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            .external-warning {
                display: flex;
                justify-content: flex-end;
                @include text;
                font-weight: 500;
                color: #FFAB07;
                font-size: 10px;
                margin-top: -20px;
                margin-bottom: 0;
            }
        }

        .settings {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 20px;

            .heading {
                font-weight: bold;
                color: var(--color-dark);
                text-align: center;
            }

            .settings-group {
                display: flex;
                flex-direction: column;
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                padding: 20px;
                width: 100%;
                margin-top: 15px;

                .language, .notification, .drak-moode, .help-center {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    gap: 10px;
                    text-decoration: none;
                    color: var(--color-dark);

                    &:hover {

                        .fa-angle-right {
                            animation: tilt-shaking 0.38s infinite;
                        }
                    }


                    .fa-globe, .fa-bell, .fa-moon, .fa-question {
                        font-size: 20px;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--color-gray);
                        border-radius: 10px;
                        padding: 20px;
                    }

                    p {
                        flex: 1;
                        @include heading;
                        margin: 0;
                        margin-top: 10px;
                    }

                    span {
                        color: var(--color-primary);
                        font-size: 14px;
                        margin-right: 1rem;
                        font-weight: 600;
                    }

                    label {
                        font-size: 12px;
                    }
                }
            }

            .btn-switch {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .save-changes {
            width: 100%;
            border-radius: 10px;
            padding: 15px 20px;
        }
    }
}