.starting-page {
  background-color: #CCCCCC;
}
.starting-page .container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
@media (min-width: 768px) {
  .starting-page .container {
    grid-template-rows: auto auto;
  }
}
.starting-page .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.starting-page .container .buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.starting-page .container .buttons .btn-primary {
  color: white;
  border: 1px solid white;
}
@media (min-width: 768px) {
  .starting-page .container .buttons .btn-filling {
    align-self: center;
    padding-right: 150px;
    padding-left: 150px;
  }
}
