@inherits LayoutComponentBase
@using RikaWebApp.Components.Pages
<div class="wrapper">
    <header></header>
    <main>
        @Body
    </main>
   <!-- Conditionally render footer for authorized users -->
    <AuthorizeView>
        
        <Authorized>
            <FooterSection />
        </Authorized>
       
    </AuthorizeView>
</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
