<section class="promocode-section">
      <div class="content">
           <form action="POST">
                 <div class="input-group">
                     <input type="text" placeholder="Promo Code">
                      <label for="text"></label>
                 </div>
                 <button class="btn-dark" type="submit">Apply</button>
           </form>   
      </div>
</section>

@code {

}
