@rendermode InteractiveServer

<section class="topbar-cart">
    <div class="topbar-container">
        <a href="/categories" class="nav-btn"><img src="/images/arrow (1).svg" alt=""></a>
        <a href="/cart" class="cart-btn">
            <img src="/images/cart.svg" alt="">
            <div class="itemsin-cart">
                <p>@CartItemCounter</p>
            </div>
        </a>
    </div>
</section>

@code {
    [Parameter]
    public int CartItemCounter { get; set; }
}
